[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
ipdb = "*"
ipython = "*"

[packages]
tillvisionio = {editable = true,path = "."}
scipy = "*"

[requires]
python_version = "3.7"
